/* Main header container */
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem; /* 12px */
  background-color: #fb8e20; /* gray-800 */
  color: #ffffff;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  height: 4.5rem; /* consistent height */
}
.header-actions {
  display: flex; /* To align buttons in a row */
  align-items: center;
}
.header-button {
  /* Common styling for header buttons */
  background-color: transparent;
  color: black; /* Example text color */
  margin-right: 10px; /* Space between buttons */
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 0.7rem; 

  padding: 0.5rem 0.5rem;
}


/* Logo container and image */
.logo-container {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 5rem; /* 48px */
  width: auto;
}

/* Centered title */
.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.75rem; /* ~28px */
  font-weight: 700; /* bold */
  color: #ffffff;
  pointer-events: none; /* allow clicks to pass through */
}

/* Logout button */
.logout-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  background-color: grey;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.logout-button:hover {
  background-color: #615654
  ;
}

.logout-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #ef4444;
}

/* Logout icon inside the button */
.logout-icon {
  width: 1.25rem; /* 20px */
  height: 1.25rem;
}
